[Unit]
Description=code-server
After=network.target

[Service]
User=coder
Group=coder
ExecStart=/usr/local/bin/code-server

[Install]
WantedBy=multi-user.target
